<button type="submit" onclick= "location.href = '/'">Add</button><br></br>
<table border = 1>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Options</th>
    {%for user in userDetails%}
    <tr class="tabla">
        
        <td>{{user[2]}}</td>
        <td>{{user[0]}}</td> 
        <td>{{user[1]}}</td>
        <td>
            <button type="submit" onclick= "location.href = '/edit_user/{{user[2]}}'">Edit</button>
            <button type="submit"onclick= "location.href = '/delete_user/{{user[2]}}'">Delete</button>
        </td>
    </tr>
    
    {%endfor%}
</table>




